<h1>球会列表</h1>

<table>
  <tr>
    <th>名称</th>
    <th>短名</th>
    <th>地区</th>
    <th>地址</th>
    <th>坐标</th>
    <th>介绍</th>
    <th>图标</th>
    <th>电话</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clubs.each do |club| %>
  <tr>
    <td><%= club.name %></td>
    <td><%= boolean_tag club.short_name %></td>
    <td><%= area_chain(club.area) %></td>
    <td><%= boolean_tag club.address %></td>
    <td><%= boolean_tag club.latitude && club.longitude %></td>
    <td><%= boolean_tag club.description %></td>
    <td><%= boolean_tag club.logo_url %></td>
    <td><%= boolean_tag club.telephone %></td>
    <td><%= link_to 'Show', club %></td>
    <td><%= link_to 'Edit', edit_club_path(club) %></td>
    <td><%= link_to 'Destroy', club, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @clubs %>
<br />

<%= link_to 'New Club', new_club_path %>
