<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @club.name %>
</p>

<p>
  <b>Short Name:</b>
  <%= @club.short_name %>
</p>

<p>
  <b>Area:</b>
  <%= area_chain(@club.area) %>
</p>

<p>
  <b>Address:</b>
  <%= @club.address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @club.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @club.longitude %>
</p>

<p>
  <b>Description:</b>
  <%= @club.description %>
</p>

<p>
  <b>Logo:</b>
  <%= url2img @club.logo_url %>
</p>

<p>
  <b>Telephone:</b>
  <%= @club.telephone %>
</p>

<p>
  <b>Active:</b>
  <%= boolean_tag @club.active %>
</p>


<p>
<% if @club.courses 
  @club.courses.each do |course| 
%>
<%= link_to "球道", course %> &nbsp;
<% end 
else %>
没有球道信息
<%  end %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
