<h1>Listing score_cards</h1>

<table>
  <tr>
    <th>User</th>
    <th>Course</th>
    <th>Tee box</th>
    <th>Course2</th>
    <th>Start hole</th>
    <th>Score</th>
    <th></th>
  </tr>

<% @score_cards.each do |score_card| %>
  <tr>
    <td><%= score_card.user.name || score_card.user_id %></td>
    <td><%= score_card.course.club.name %></td>
    <td><%= score_card.tee_box %></td>
    <td><%= score_card.course2_id %></td>
    <td><%= score_card.start_hole %></td>
    <td><%= score_card.score %></td>
    <td><%= link_to 'Show', score_card %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Score card', new_score_card_path %>
