<p id="notice"><%= notice %></p>

<p>
  <b>Course:</b>
  <%= @comment.course_id %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user_id %>
</p>

<p>
  <b>Overall:</b>
  <%= @comment.overall %>
</p>

<p>
  <b>View:</b>
  <%= @comment.view %>
</p>

<p>
  <b>Hardiness:</b>
  <%= @comment.hardiness %>
</p>

<p>
  <b>Design:</b>
  <%= @comment.design %>
</p>

<p>
  <b>Recall:</b>
  <%= @comment.recall %>
</p>

<p>
  <b>Maintenance:</b>
  <%= @comment.maintenance %>
</p>

<p>
  <b>Culture:</b>
  <%= @comment.culture %>
</p>

<p>
  <b>Candy:</b>
  <%= @comment.candy %>
</p>

<p>
  <b>Facility:</b>
  <%= @comment.facility %>
</p>

<p>
  <b>Service:</b>
  <%= @comment.service %>
</p>

<p>
  <b>Price:</b>
  <%= @comment.price %>
</p>

<p>
  <b>Notes:</b>
  <%= @comment.notes %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
