<%= form_for(@hole) do |f| %>
  <% if @hole.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hole.errors.count, "error") %> prohibited this hole from being saved:</h2>

      <ul>
      <% @hole.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_id %><br />
    <%= f.number_field :course_id %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :par %><br />
    <%= f.number_field :par %>
  </div>
  <div class="field">
    <%= f.label :yard_black %><br />
    <%= f.number_field :yard_black %>
  </div>
  <div class="field">
    <%= f.label :yard_gold %><br />
    <%= f.number_field :yard_gold %>
  </div>
  <div class="field">
    <%= f.label :yard_blue %><br />
    <%= f.number_field :yard_blue %>
  </div>
  <div class="field">
    <%= f.label :yard_white %><br />
    <%= f.number_field :yard_white %>
  </div>
  <div class="field">
    <%= f.label :yard_red %><br />
    <%= f.number_field :yard_red %>
  </div>
  <div class="field">
    <%= f.label :map_id %><br />
    <%= f.number_field :map_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
