<h1>Listing holes</h1>

<table>
  <tr>
    <th>Course</th>
    <th>Number</th>
    <th>Par</th>
    <th>Yard black</th>
    <th>Yard gold</th>
    <th>Yard blue</th>
    <th>Yard white</th>
    <th>Yard red</th>
    <th>Map</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @holes.each do |hole| %>
  <tr>
    <td><%= hole.course_id %></td>
    <td><%= hole.number %></td>
    <td><%= hole.par %></td>
    <td><%= hole.yard_black %></td>
    <td><%= hole.yard_gold %></td>
    <td><%= hole.yard_blue %></td>
    <td><%= hole.yard_white %></td>
    <td><%= hole.yard_red %></td>
    <td><%= hole.map_id %></td>
    <td><%= link_to 'Show', hole %></td>
    <td><%= link_to 'Edit', edit_hole_path(hole) %></td>
    <td><%= link_to 'Destroy', hole, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @holes %>
<br />

<%= link_to 'New Hole', new_hole_path %>
