<p id="notice"><%= notice %></p>

<p>
  <b>Course:</b>
  <%= link_to @hole.course.name || @hole.course.club.name, course_path(@hole.course) %>
</p>

<p>
  <b>Number:</b>
  <%= @hole.number %>
</p>

<p>
  <b>Par:</b>
  <%= @hole.par %>
</p>

<p>
  <b>Yard black:</b>
  <%= @hole.yard_black %>
</p>

<p>
  <b>Yard gold:</b>
  <%= @hole.yard_gold %>
</p>

<p>
  <b>Yard blue:</b>
  <%= @hole.yard_blue %>
</p>

<p>
  <b>Yard white:</b>
  <%= @hole.yard_white %>
</p>

<p>
  <b>Yard red:</b>
  <%= @hole.yard_red %>
</p>

<p>
  <b>Map:</b>
  <%= url2img @hole.map.url%>
</p>


<%= link_to 'Edit', edit_hole_path(@hole) %> |
<%= link_to 'Back', holes_path %>
