<p id="notice"><%= notice %></p>

<p>
  <b>Course:</b>  <%= link_to @hole.course.name || @hole.course.club.name, course_path(@hole.course) %><br/>

  <b>Number:</b>  <%= @hole.number %> <br/>

<table>
  <tr>
    <th>Par</th>
    <th>红</th>
    <th>白</th>
    <th>蓝</th>
    <th>黄</th>
    <th>黑</th>
  </tr>
  <tr>
    <td><%= @hole.par %></td>
    <td><%= @hole.yard_red %></td>
    <td><%= @hole.yard_white %></td>
    <td><%= @hole.yard_blue %></td>
    <td><%= @hole.yard_gold %></td>
    <td><%= @hole.yard_black %></td>
  </tr>
</table><br/>

  <%= url2img @hole.map.url%>
</p>


<%= link_to 'Edit', edit_hole_path(@hole) %> |
<%= link_to 'Back', holes_path %>
