<p id="notice"><%= notice %></p>

<p>
  <b>Lat left lower:</b>
  <%= @map.lat_left_lower %>
</p>

<p>
  <b>Lon left lower:</b>
  <%= @map.lon_left_lower %>
</p>

<p>
  <b>Lat right lower:</b>
  <%= @map.lat_right_lower %>
</p>

<p>
  <b>Lon right lower:</b>
  <%= @map.lon_right_lower %>
</p>

<p>
  <b>Lat left higher:</b>
  <%= @map.lat_left_higher %>
</p>

<p>
  <b>Lon left higher:</b>
  <%= @map.lon_left_higher %>
</p>

<p>
  <b>Lat right higher:</b>
  <%= @map.lat_right_higher %>
</p>

<p>
  <b>Lon right higher:</b>
  <%= @map.lon_right_higher %>
</p>

<p>
  <b>Dim x:</b>
  <%= @map.dim_x %>
</p>

<p>
  <b>Dim y:</b>
  <%= @map.dim_y %>
</p>

<p>
  <b>Url:</b>
  <%= @map.url %>
</p>


<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
