
<table>
  <tr>
<% @data['hot'].each do |c| %>   
    <td>
      <%= image_tag c['pic'] %><br/>
      <%= link_to c['name'], client_course_info_path(:id=>c['id']) %>
    </td>
<% end %>
  </tr>
</table>

<table>
<% @data['list'].each do |c| %>  
  <tr>
    <td>
      <%= image_tag c['logo'], :size=>'80x80'%>
    </td>
    <td>
      <%= link_to c['name'], client_course_info_path(:id=>c['id']) %><br/>
      <%= c['overall'] %> | <%= c['price'] %> | <%= c['hardness'] %> | <%= c['view'] %>
    </td>    
  </tr>
<% end %>
</table>

version = <%= @data['version'] %>