<h1>Listing areas</h1>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Level</th>
    <th>Upper area</th>
    <th></th>
    <th></th>
  </tr>

<% @areas.each do |area| %>
  <tr>
    <td><%= area.id %></td>
    <td><%= area.name %></td>
    <td><%= area.level %></td>
    <td><%= area.upper.name %></td>
    <td><%= link_to 'Show', area %></td>
    <td><%= link_to 'Edit', edit_area_path(area) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Area', new_area_path %>
