<h1>球会列表</h1>

<table>
  <tr>
    <th></th>
    <th>名称</th>
    <th>短名</th>
    <th>地区</th>
    <th>地址</th>
    <th>坐标</th>
    <th>介绍</th>
    <th>图标</th>
    <th>电话</th>
  </tr>

<% @list.each do |club| %>
  <tr>
    <td><%= alert_tag club.comments  %></td>
    <td><%= link_to club.name, club %></td>
    <td><%= boolean_tag club.short_name %></td>
    <td><%= area_chain(club.area) %></td>
    <td><%= boolean_tag club.address %></td>
    <td><%= boolean_tag club.latitude && club.longitude %></td>
    <td><%= boolean_tag club.description %></td>
    <td><%= boolean_tag club.logo_url %></td>
    <td><%= boolean_tag club.telephone %></td>    
  </tr>
<% end %>
</table>
<br />

<%= link_to 'Back', oss_area_list_path %>
